{% extends 'layout.twig' %}
{% block updateusers %}
	{% include 'partials/nav.twig' %}

	{% for data in datosUser %}



		<div class="container py-5">
			<div class="row">
				<div class="col-md-12">
					<div class="row">



						<!--/col-->
						<div class="col-md-8 offset-md-2">
							<span class="anchor" id="formUserEdit"></span>
							<hr class="my-5">

							<!-- form user info -->
							<div class="card card-outline-secondary">
								<div class="card-header">
									<h3 class="mb-0">Editar Usuario</h3>
								</div>
								<div class="card-body">
									<form class="form" role="form" id="updateUser" autocomplete="off">


										<input type="hidden" class="tipoEstadoSelected novalidate" value="{{data.id_estado}}">

										<input type="hidden" class="tipoPerfilSelected novalidate" value="{{data.group_id}}">

										<input type="hidden" class="id novalidate" name="id" id="id" value="{{data.id}}">

										<div class="form-group row">
											<label class="col-lg-3 col-form-label form-control-label">Nombre(s) y Apellido(s) de Usuario</label>
											<div class="col-lg-9">
												<input type="text" placeholder="Usuario" v-name="Usuario" v-only="text" name="username" id="username" class="form-control" value="{{data.username}}">
											</div>
										</div>
										<div class="form-group row">
											<label class="col-lg-3 col-form-label form-control-label">Correo Electrónico</label>
											<div class="col-lg-9">
												<input type="text" placeholder="Correo Electrónico" v-name="E-mail" v-only="email" name="email" class="form-control" value="{{data.email}}">
											</div>
										</div>
										<div class="form-group row">
											<label class="col-lg-3 col-form-label form-control-label">Clave</label>
											<div class="col-lg-9">
												<input type="password" placeholder="Clave" v-name="Ckave" name="password" class="form-control" value="{{data.password}}">
											</div>
										</div>

										<div class="form-group row">
											<label class="col-lg-3 col-form-label form-control-label">Perfil</label>
											<div class="col-lg-9">
												<div>
													<select name="group_id" id="group_id" class="form-control">


													</select>
												</div>
											</div>
										</div>
										<div class="form-group row">
											<label class="col-lg-3 col-form-label form-control-label">Estado</label>
											<div class="col-lg-9">
												<div>
													<select name="id_estado" id="id_estado" class="form-control">


													</select>
												</div>
											</div>
										</div>

										<div class="form-group">
											<input type="submit" value="Guardar" class="btn btn-primary">
										</div>





									</form>
								</div>
							</div>
							<!-- /form user info -->

						</div>



					</div>
					<!--/row-->


				</div>
				<!--/col-->
			</div>

		</div>
		<!--/container-->

	{% endfor %}
{% endblock %}